*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {

  @include respond(media-small) {
    font-size: 0.875rem;
  }

  @include respond(media-700) {
    font-size: 0.875rem;
  }

  @include respond(media-741) {
    font-size: 0.875rem;
  }

  @include respond(media-medium) {
    font-size: 0.875rem;
  }

  @include respond(media-large) {
    font-size: 1.125rem;
  }

  @include respond(media-xl) {
    font-size: 1.125rem;
  }

  @include respond(media-xxl) {
    font-size: 1.125rem;
  }


}

body {
  font-family: "Roboto", sans-serif
}

h1 {
  font-size: $font-size-h1-mobil;
  font-weight: $Font-weight-900;
}

h2 {
  font-size: $font-size-h2-mobil;
  font-weight: $Font-weight-900;
}

h3 {
  font-size: $font-size-h3-mobil;
  font-weight: $Font-weight-900;
}

p {
  font-size: $font-size-bodytext-mobil;
  font-weight: $Font-weight-400;
  line-height: 1.8rem;
}