@import "abstracts/variables";

.footer {
    display: flex;
    background-color: $color-black;
    width: auto;
    height: 370px;

    &_box_text1 {
        color: white;
    }

    &_box_text2 {
        
    }

    &_box_text3 {
        
    }

    &_box_text4 {

    }

    &_logo {

    }

    &_logo_box {
        width: 35px;
        height: 35px;
        position: fixed;
    }

    &_list {
        list-style: none;
        
    }

    &_item {

    }

    &_link {
        color: $color-white;
        text-decoration: none;

    }

}


