@import "abstracts/variables";

.footer {
    padding: 61px 24px 51px 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $color-black;
    width: auto;
    height: 370px;

    &_box_text1 {
        color: $color-white;
        flex-grow: 10;
    }

    &_box_text2 {
        color: $color-white;
    
    }

    &_box_opened {
        color: $color-white;
    }

    &_box_text3 {
       
        
    }

    &_box_text4 {
       
    }

    &_logo {

    }

    &_logo_box {
        width: 35px;
        height: 35px;
        
    }

    &_list {
        list-style: none;
        
    }

    &_item {

    }

    &_link {
        color: $color-white;
        text-decoration: none;
        font-size: $font-size-bodytext-mobil;
        font-weight: $Font-weight-400;
        line-height: 1.8rem;

    }
}


