.header_subpage {
    height: 75vh;

    background-image: 
    url(../images/FEND-Coffee-shop.jpg),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

    position: relative;
}

.header_Startseite {
    display: flex;
    height: 75vh;
    background-image:
    url(../images/FEND-Coffee-latte-art-3.jpg),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

    position: relative;
    color: $color-white;
    
}

.header_logo_box {
    position: absolute;
    padding-top: 10px;
    padding-left: 24px;
  }

.header_logo {
    width: 35px;
    height: 35px;
  }