.header_subpage_cafe {
    display: flex;  
    height: 55vh;
    background-image: 
    url(/images/FEND-coffee-shop.jpg),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-size: cover;
    background-position: center;
    position: relative;
}

.header_Startseite {
    display: flex;
    height: 75vh;
    background-image:
    url(../images/FEND-Coffee-latte-art-3.jpg),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-size: cover;
    background-position: center;
    position: relative;
    color: $color-white;

    @include respond(media-small) {
      height: 65vh;
    }
    
}

.header_subpage_herkunft {
  display: flex;  
  height: 55vh;
  background-image: 
  url(/images/FEND-coffee-beans-hand-2.jpg),
  linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-size: cover;
  background-position: center;
  position: relative;
}

.header_logo_box {
    position: absolute;
    padding-top: 10px;
    padding-left: 24px;
  }

.header_logo {
    width: 35px;
    height: 35px;
  }