.section_shop_subpage {
  height: auto;
  background-color: $color-black;

  h2 {
    color: $color-white;
    padding: 60px 45px 40px 21px;
  }
}

.box_shop {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 24px;
  justify-content: center;

  .shop_coffee_variety {
    justify-content: center;
    margin-right: 8px;
    margin-bottom: 35px;

    @include respond(media-small) {
      margin-right: 16px;
    }

    @include respond(media-662) {
      margin-right: 32px;
      font-size: $font-size-bodytext;
    }

    &_img {
      list-style-type: none;
    }

    &_Costa_Rica {
      max-width: 155px;
      height: 208px;

      @include respond(media-662) {
        max-width: 100%;
        height: auto;
      }
    }

    &_package_sub {
      font-size: $font-size-subhead-mobil;
      font-weight: $font-weight-400;
      color: $color-black;
      list-style-type: none;
    }

    &_price_sub {
      font-size: $font-size-bodytext-mobil;
      font-weight: $font-weight-400;
      color: $color-black;
      list-style-type: none;

      @include respond(media-662) {
        font-size: $font-size-bodytext;
      }
    }

    &_icons_sub {
      width: 12px;
      height: 14px;
      display: inline-flex;
      color: $color-black;
      list-style-type: none;

      img {
        margin: 1px 2px;

        @include respond(media-medium) {
          height: 16px;
        }

        @include respond(media-large) {
          height: 18px;
        }
      }
    }
  }
}
