.container_impressum {
    margin: 0px 24px 38px 24px;
    padding-top: 100px;

     @include respond (media-826) {
        max-width: 822px;
        margin: 0 auto 10% auto;
    }

    h2, h3 {
        margin-top: 7%;
    }

   

}