.shop-overview {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper_shop-h2 {
  display: block;
  margin: 20% 5%;
}

.wrapper_type {
  justify-content: center;
  margin-right: 5%;
  margin-bottom: 8%;

  @include respond(media-small) {
    margin-right: 7%;
  }

  @include respond(media-662) {
    margin-right: 12%;
    font-size: $font-size-bodytext;
  }

  ul {
    list-style-type: none;
  }

  .shop_coffee_variety_Costa_Rica {
    max-width: 155px;
    height: 208px;
    background-color: $color-light-grey;
    padding: 5%;

    @include respond(media-662) {
      max-width: 100%;
      height: auto;
    }
  }

  .shop-icon {
    width: 8%;
    height: 10%;
    list-style-type: none;
    display: inline-flex;
    color: white;

    img {
      margin: 1px 2px;

      @include respond(media-medium) {
        height: 12%;
      }

      @include respond(media-large) {
        height: 14%;
      }
    }
  }
}
