

.section_shop {
    height: auto;
    background-color: $color-black;

    h2 {
        color: $color-white;
        padding: 60px 45px 40px 21px;
       
      
     }
}

.box_shop {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 24px;
    justify-content: center;

    .shop_coffee_variety {

       justify-content: center;
        margin-right: 8px;   
        margin-bottom: 35px;

    

        @include respond(media-small) {
           margin-right: 16px;
           
        }

        @include respond(media-662) {
            margin-right: 32px;
            font-size: $font-size-bodytext;
        }

        &_img {
            list-style-type: none;
        }

        &_Costa_Rica {
            max-width: 155px;
            height: 208px;
           
            @include respond(media-662) {
                max-width: 100%;
                height: auto;
            }

        }

        &_package {
            font-size: $font-size-subhead-mobil;
            font-weight: $font-weight-400;
            color: $color-white;
            list-style-type: none;
        
        }

        &_price { 
            font-size: $font-size-bodytext-mobil;
            font-weight: $font-weight-400;
            color: $color-medium-grey;
            list-style-type: none;

            @include respond(media-662) {
                font-size: $font-size-bodytext;
            }

        }

        &_icons {
            width: 12px;
            height: 14px;
            list-style-type: none;
            display: inline-flex;
            color: white;
            

            img {
                margin: 1px 2px;

                @include respond (media-medium) {
                    height: 16px;
                }

                @include respond (media-large) {
                    height: 18px;
                }

            }


        }

    }
}


.section_coffee-content {
    height: auto;
    
    @include respond (media-large) {
        max-width: 1100px;
        margin: 100px auto;
    }
    
}

.box_h2 {
        margin-bottom: 35px;
        margin-top: 60px;

        @include respond (media-large) {
          
            margin-bottom: 70px;
        }
    }

.box_Herkunft { 

    display: flex;
    flex-direction: column;
    background-color: $color-white;
    text-align: center;


    @include respond(media-small) {
        height: 500px;
        align-items: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .img_coffee_bag {
        margin-bottom: 44px;
       
    }


    .box_Herkunft_icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 5%;

        @include respond (media-small) {
            flex-direction: column;
            margin-left: -10%;
            margin-right: 10%;

        }

        @include respond (media-medium) {
            margin-right: 20%;
        }


    }

    .icon-und-text {
        width:87px;
        height:123px;

        @include respond (media-small) {
            display: flex;
            align-items: center;

        }

        .icon_herkunft {
            width: 45px;
            height: 45px;
            margin-bottom: 20%;

          
        }

        .text_herkunft {
            
            @include respond(media-small) {
                margin-left: 33px; 
                flex-direction: column;

            }
           
           
        }
    }


    .container12 {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }



} 

