.button_dunkel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 45px;
    justify-content: center;
    margin-top: 83%;

    width: 163px;
    height: 48px;


    background: #1A1A1A;
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 5px;

    color: $color-white;
    font-size: $font-size-bodytext-mobil;
    font-weight: $Font-weight-400;
    text-decoration: none;
}