.header_contact {
  position: relative;
}

.contact_form {
  margin: 40px 5%;
}

.contact_h2 {
  display: block;
  margin: 25% auto 15%;

  @include respond(media-small) {
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 0;
  }
}

.form {
  @include respond(media-small) {
    margin-top: 35%;
    margin-left: 55%;
  }
}

.contact_group {
  margin-bottom: 4rem;
  display: block;
}

.form-input {
  font-size: $font-size-bodytext-mobil;
  padding: 1.5rem 1rem 0.5rem 1rem;

  border: none;
  border-bottom: 3px solid $color-black;
  width: 80%;

  &:focus {
    outline: none;
    background-color: $color-light-grey;

    // &:focus:invalid {
    //   background-color: rgba($color: red, $alpha: 0.3);
    //   color: red;
    // }

    &::-webkit-input-placeholder {
      color: $color-light-grey;
    }
  }
}

.form-label {
  display: block;
}

.privacy-checkbox {
  position: relative;
  content: none;

  label {
    @include respond(media-small) {
      display: inline-block;
    }

    // @include respond(media-826) {
    //         display:inline;
    //     }
  }

  label::before {
    content: "";
    display: inline-block;
    border: 3px solid $color-black;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    margin-right: 12px;
  }

  label::after {
    content: none;
    display: inline-block;
    height: 8px;
    width: 13px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    position: absolute;

    transform: rotate(-45deg);
    left: 22px;
    top: 5px;
  }
}

#privacy:checked + label::after {
  content: "";
}

.checkbox-input {
  opacity: 0;
}

//  Styling für id

#message {
  height: 200px;
}

#choose_subject {
  -webkit-appearance: none;
  width: 80%;
  background-color: $color-black;
  color: $color-white;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid;
  border-radius: 5px;
  padding: 1em;

  @include respond(media-small) {
    width: 40%;
  }
}

#btn_contact_mobil {
  @include respond(media-small) {
    margin-left: 80%;
  }
}
