.header_contact {
    position: relative;
}

.contact_form {
    margin: 40px 5%;
}

.contact_h2 {
    display: block;
    margin: 25% auto 15%;
   

    @include respond (media-small) {
        position: absolute;
        top: 0;
        width: 50%;
        margin-left: 0;
    }
}

.form {
    @include respond (media-small) {
        margin-top: 35%;
    }
    
} 


.contact_group {
  margin-bottom: 2rem;
 
    @include respond(media-small) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
       
    }
   
}

.form-input {
    font-size: $font-size-bodytext-mobil;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 3px solid $color-black;
    width: 80%;

    @include respond (media-small) {
        width: 40%;
    }

    &:focus {
    outline: none;
    background-color: $color-light-grey;

    &:focus:invalid {
    background-color: rgba($color: red, $alpha: .3);
    color: red;
    }

    &::-webkit-input-placeholder {
        color: $color-light-grey;
    }
    }
}

.form-label {
    display: block;

    @include respond (media-small) {
        //padding-right: 38%;
    }
}

.privacy-checkbox {
    @include respond (media-small) {
        text-align: right;
    }
    
}

.checkbox-input {
    -webkit-appearance: none;
    border: 3px solid $color-black;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    margin-right: 12px;
}


//  Styling für id


#message {
    height: 200px;
}

#choose_subject {
    -webkit-appearance: none;
    width: 80%;
    background-color: $color-black;
    color: $color-white;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;

    @include respond (media-small) {
        width: 40%;
    }
   
}

#btn_contact_mobil {

    @include respond (media-small) {
       margin-left: 80%;
    }
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 5em;
}
