//colors

// Fontsizes
 
$font-size-text: 18px;
$font-size-text-h1: 36px;
$font-size-h1-mobil: 26px;
$body-text-mobil: 14px;

//media queries

$media-small: 576px;
$media-medium: 768px;
$media-large: 992px;
$media-xl: 1200px;
$media-xxl: 1920px;