//colors

$color-white: rgba(255,255,255,1);
$color-anthrazit: rgba(26,26,26,1);
$color-kraftpapier: rgba(215,190,157,1);
$color-petrol: rgba(0,109,126,1);
$color-rosa: rgba(237,209,201,1);
$color-orange: rgba(215,124,18,1);
$color-medium-grey: rgba(115,115,115,1);
$color-light-grey: rgba(233,233,233,1);
$color-black: rgba(0,0,0,1);

// Font-Styling

$font-weight-900: 900 $color-black;
$font-weight-400: 400 Regular;

// Fontsizes

$font-size-h1: 6rem;
$font-size-h2: 3rem;
$font-size-h3: 2.625rem;
$font-size-bodytext: 1.125rem;
$font-size-h1-mobil: 4rem;
$font-size-h2-mobil: 2.25rem;
$font-size-h3-mobil: 2rem;
$font-size-subhead-mobil: 1.125rem;
$font-size-bodytext-mobil: 0.875rem;




